<div class="row">
  <div class="row">
         <div class="col-md-6 col-md-offset-3">
             <div class="panel panel-primary">
                 <div class="panel-heading">Sign Up Form</div>
                 <div class="panel-body">

                         <label for="fname">First Name</label>
                         <input type="text" id="fname" class="form-control" name="fname" placeholder="Enter yout First Name" ng-model="cust.fname">

                         <label for="lname">Last Name</label>
                         <input type="text" id="lname" class="form-control" name="lname" placeholder="Enter yout Last Name" ng-model="cust.lname">

                         <label for="add">Address</label>
                         <input type="text" id="add" class="form-control" name="add" placeholder="Enter your address" ng-model="cust.add">

                         <label for="emailaddr" class="m-t-10">Email Address</label>
                         <input type="text" id="emailaddr" class="form-control" name="email" placeholder="Email address" ng-model="cust.emailuser">

                         <label for="password" class="m-t-10">Password</label>
                         <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" ng-model="cust.pswd">

                         <label for="confirmpass" class="m-t-10">Verify Password</label>
                         <input type="password" id="confirmpass" class="form-control" name="verifypass" placeholder="Confirm Password" ng-model="cust.conpswd">

                         <label for="phone" class="m-t-10">Phone Number</label>
                         <input type="text" id="phone" class="form-control" name="phone" placeholder="Enter Phone" ng-model="cust.phone">

                         <center><button class="btn btn-success m-t-10" id="submitbtn" name="submit" ng-click="registerCustomer()">Register</button></center>


                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
